* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  position :fixed;
  top: 0;
  z-index: 10;
}





















body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #182C61;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #3B3B98;
  height: 600px;
}

.footer {
  
  background-color: #1B9CFC;
  
 
  color: #fff;
  
 
  height: 120px;
  
  
  padding: 40px;
  
}


.footer-logo {
  font-size: 32px;
  float: left;
}


.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
