* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Muli",sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 65px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
}

.logo {
    color: #28395a;
    margin-top: 20px;
    margin-right: 150px;
}

.header-left {
    float: left;
}

.header-center {
    float: left;
}

.header-center a {
    line-height: 65px;
    padding: 0 20px;
    color: #28395a;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-center a:hover {
  background-color:#d1d7e2;
}

.header-right {
    float: right;
    margin-right: 40px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    margin-right: 10px;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right .register {
    background-color: #fb246a;
    color: #fff;
}

.header-right .register:hover {
    background-color: #da2461;
}

.header-right .login {
    border: 1px solid #fb246a;
    color: #fb246a;
}

.header-right .login:hover {
    background-color: #fb246a;
    color: #fff;
}

.menu-icon {
    color: #28395a;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
    transition: all 0.5s;
}

.menu-icon:hover{
  color: #5479c4;
  cursor: pointer;
}


.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(assets/h1_hero.jpg);
  background-size: cover;
  color: white;
  text-align: left;
}

.top-wrapper h1 {
  font-size:70px;
  font-weight:900;
  margin-top: 30px;
  margin-bottom:78px;
  color:#28395a;
}


.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.find {
  background-color: #e74c3c;
  padding: 12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
  transition: all 0.5s;
}

.btn-link {
    text-decoration: none;
    color: white;
}

.find:hover {
  opacity: 1;
  background-color: #2980b9;
}

h1.header-60 {
    width:60%;
}

input[type=text], select, textarea {
  width: auto;
  float: left;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  /* display: inline-block; */
}


.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

select.col-75 {
  width: 50%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
 } 

 
.main-tambahan {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #2980b9;
  text-align: center;
  color: white;
}

.box {
  float: left;
  width: 33.3%;
}

.box-icon {
  position: relative;
  color: white;
  transition: all 0.5s;
}

.box-icon:hover {
  color: red;
}

.box-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.main-tambahan span{
  color: red;
}
.main-tambahan h2 {
  color: white;
  font-size: 50px;
}


.footer {
  
  background-color: #1B9CFC;
  color: #fff;
  height: 240px;
  padding: 40px;
}


.footer-logo {
  font-size: 32px;
  float: left;
}


.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
  transition: all 0.5s;
}

.footer-list li:hover {
  color: red;
  cursor: pointer;
}









